* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(227, 230, 238);

    header {
        width: 50%;

        // h1 {}

        // p {}
    }

    main {
        width: 75%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .questions {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h2 {
                font-size: 2rem;
            }

            .settings {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, auto);
                grid-column-gap: 5rem;
                grid-row-gap: 2rem;

                h3 {
                    font-size: 1.8rem;
                    font-weight: normal;
                    text-decoration: underline;
                }

                input[type="checkbox"] {
                    width: 2rem;
                    height: 1.2rem;
                }

                select {
                    font-size: 1.5rem;
                }

                label {
                    font-size: 1.5rem;
                }

                .options-container {
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }

                // .major-options-container {}

                // .minor-options-container {}

                // .mode-reminder {}

                // .resolved-unresolved {}
            }
        }

        .control-btns {
            display: flex;
            justify-content: center;
            gap: 2rem;

            button {
                align-self: center;
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 1rem;
                background-color: rgb(255, 101, 101);
                color: rgb(255, 255, 255);
                font-size: 1.5rem;
    
                &:hover {
                    background-color: rgb(255, 173, 173);
                }
    
                &:active {
                    background-color: rgb(153, 153, 255);
                }
            }

            // .replay-btn {}

        }

        .answer-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            h4 {
                font-size: 2rem;
                font-weight: normal;
            }

            button {
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 1rem;
                background-color: rgb(101, 157, 255);
                color: rgb(255, 255, 255);
                font-size: 1.5rem;

                sup {
                    font-size: 1rem;
                }

                &:hover {
                    background-color: rgb(162, 199, 255);
                }

                &:active {
                    background-color: rgb(153, 153, 255);
                }
            }

            .major-answer-buttons {
                display: flex;
                align-items: center;
                gap: 1rem;

                // h4 {}

                // .ofV {}

                // .ofIV {}

                // .ofvi {}

                // .ofii {}
            }

            .minor-answer-buttons {
                display: flex;
                align-items: center;
                gap: 1rem;

                // h4 {}

                // .ofIII {}

                // .ofV {}

                // .ofiv {}
                
                // .ofVI {}
            }
        }

        .feedback {
            font-size: 2rem;
            align-self: center;
        }
    }
}